body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.table-container{
  margin-top: 20px;
}
.transaction-table{
  width: 100%;
  border-collapse: collapse;
}
.transaction-table th,
.transaction-table td{
  border: 1px solid black;
  padding: 8px;
}
.transaction-table th{
  background-color: black;
  color: white;
}
.transaction-table tr:nth-child(even){
  background-color: #f2f2f2;
}
.transaction-table tr:hover{
  background-color: #ddd;
  font-weight: bold;
}